<app-nav-menu></app-nav-menu>
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button>
        <ion-icon name="menu-outline"></ion-icon>
      </ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="start" *ngIf="titleView != 'Home'">
      <ion-back-button defaultHref="home" ></ion-back-button>
    </ion-buttons>
    <ion-buttons size="large" class="m2" (click)="login()"  slot="end" *ngIf="!isLogged">
      <ion-buttons size="large">
        <ion-icon size="large" name="log-in"></ion-icon>
      </ion-buttons>
    </ion-buttons>
    <ion-buttons (click)="goRegister()" class="m2" slot="end">
      <ion-buttons>
        <ion-icon size="large" name="person-add"></ion-icon>
      </ion-buttons>
    </ion-buttons>
    <ion-buttons *ngIf="isLogged" class="m2" slot="end" (click)="logout()" title="logout" >
      <ion-buttons>
        <ion-icon size="large" name="log-out-outline"></ion-icon>
      </ion-buttons>
    </ion-buttons>
    <ion-title>
      <h1>{{titleView}}</h1>
    </ion-title>
  </ion-toolbar>
</ion-header>
