<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>
<ion-progress-bar *ngIf="isLoading" type="indeterminate"></ion-progress-bar>
<ion-content padding>
  <form #form="ngForm" (ngSubmit)="login(form)">
    <ion-grid>
      <ion-row color="primary" justify-content-center class="ion-text-center">
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div text-center>
            <h3>Connexion</h3>
          </div>
          <div padding>
            <ion-item>
              <ion-input name="username" type="username" placeholder="Non d'utilisateur" 
              ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="password" type="password" placeholder="Mot de passe" 
              ngModel required></ion-input>
            </ion-item>
              <ion-note *ngIf="error" color="danger">{{messageErr}}</ion-note>
          </div>
          <div padding>
            <ion-button size="large" type="submit" [disabled]="form.invalid" expand="block">
              me connecter
            </ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>