<app-header [titleView]="'Register'"></app-header>
<ion-content>
  <ion-row>
    <ion-col align-self-center size-md="2" size-lg="4"></ion-col>
    <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
  <div text-center justify-content-center>
    <h3>Professional data</h3>
  </div>
</ion-col>
</ion-row>
  <form #formA="ngForm" (ngSubmit)="account(formA)" *ngIf="!selectedAccount">
    <ion-grid>
      <ion-row color="primary" justify-content-center>
        <ion-col align-self-center size-md="2" size-lg="4"></ion-col>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div padding>
            <ion-item>
              <ion-list>
                <ion-radio-group name="type" ngModel required>
                  <ion-list-header>
                    <ion-label>Account</ion-label>
                  </ion-list-header>

                  <ion-item>
                    <ion-label>Professionnal</ion-label>
                    <ion-radio slot="start" value="pro"></ion-radio>
                  </ion-item>

                  <ion-item>
                    <ion-label>Driver</ion-label>
                    <ion-radio slot="start" value="driver"></ion-radio>
                  </ion-item>
                </ion-radio-group>
              </ion-list>
            </ion-item>
          </div>
          <div padding>
            <ion-button size="large" type="submit" [disabled]="formA.invalid" expand="block">OK</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>

  <form #form="ngForm" (ngSubmit)="add(form)" *ngIf="selectedAccount">
    <ion-grid>
      <ion-row color="primary" justify-content-center>
        <ion-col align-self-center size-md="2" size-lg="4"></ion-col>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">

          <div padding>
            <ion-item>
              <ion-label>Lastname</ion-label>
              <ion-input name="lastname" type="text" placeholder="lastname" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Firstname</ion-label>
              <ion-input name="firstname" type="text" placeholder="firstname" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Email</ion-label>
              <ion-input name="email" type="email" placeholder="your@email.com" ngModel required></ion-input>
            </ion-item>
            <ion-item *ngIf="isPro">
              <ion-label >Siret</ion-label>
              <ion-input name="siret" type="text" placeholder="siret" ngModel required></ion-input>
            </ion-item>
            <ion-item *ngIf="isDriver">
              <ion-label >address</ion-label>
              <ion-input name="address" type="text" placeholder="address" ngModel required></ion-input>
            </ion-item>
            <ion-item *ngIf="isDriver">
              <ion-label >Additional address</ion-label>
              <ion-input name="addional_address" type="text" placeholder="addional address" ngModel ></ion-input>
            </ion-item>
            <ion-item *ngIf="isDriver && !isLoadin">
              <ion-label >City</ion-label>
                <ion-select name="city">
                  <ion-select-option *ngFor="let city of cities" value="city">{{city.name}}</ion-select-option>
                </ion-select>
            </ion-item>
            <ion-item *ngIf="isDriver">
              <ion-label >Phone</ion-label>
              <ion-input name="phone" type="text" placeholder="phone number" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Username</ion-label>
              <ion-input name="username" type="text" placeholder="username" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Password</ion-label>
              <ion-input name="password" type="password" placeholder="Password" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Confirm Password</ion-label>
              <ion-input (ngModelChange)="confirmeChange(form)" name="confirm" type="password" placeholder="Password again" ngModel required></ion-input>
            </ion-item>
          </div>
          <div padding>
            <ion-button size="large" type="submit" [disabled]="form.invalid || fromInvalid" expand="block">Register</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>