<ion-menu side="start" menuId="first" contentId="main">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item [routerLink]="['/home']" routerLinkActive="router-link-active" >Home</ion-item>
      <ion-item *ngIf=" isAdmin()" [routerLink]="['/professional']" routerLinkActive="router-link-active" >Professionals</ion-item>
      <ion-item *ngIf="isProfesssional() || isAdmin() " [routerLink]="['/garage']" routerLinkActive="router-link-active" >Garages</ion-item>
      <ion-item *ngIf="isProfesssional() || isAdmin()" [routerLink]="['/advertisements']" routerLinkActive="router-link-active" >Advertisements</ion-item>
      <ion-item *ngIf="isAdmin()" [routerLink]="['/drivers']" routerLinkActive="router-link-active" >Drivers</ion-item>
      <ion-item *ngIf="isDriver() || isAdmin()" [routerLink]="['/car']" routerLinkActive="router-link-active" >Car</ion-item>
      <ion-item *ngIf="isDriver() || isAdmin()" [routerLink]="['/choices']" routerLinkActive="router-link-active" >Choices</ion-item>
      
    </ion-list>
  </ion-content>
</ion-menu>
<ion-router-outlet id="main"></ion-router-outlet>
